{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-6">
      <br><br>
      <img src="{% static 'images/home.png' %}" class="rounded about-img" alt="BrainOn brand picture"/>
    </div>
    <div class="col-sm-6">
      <br><br><br>
      <h3>Welcome!</h3>
      <p>
        Welcome to BrainOn - Your Ultimate Destination for Mind-Blowing Learning!
        Are you ready to unlock the full potential of your brain?
        Introducing BrainOn - the most thrilling online learning portal that will take
        your curiosity to new heights and ignite your passion for knowledge like never before!
      </p>
    </div>

    <div class="col-sm-6">
      <br><br><br>
      <h3>Why BrainOn?</h3>
      <p>
        Learn from the Best and Brightest: <br>
        Our team of expert instructors are here to guide you on your learning journey.
        With years of experience and a passion for teaching, they'll inspire you to reach
        for the stars and achieve your full potential.
      </p>
      <p>
        Unleash Your Creativity: <br>
        Get ready to unleash your creative genius with our interactive projects and hands-on activities.
        From digital art masterpieces to DIY science experiments, you'll be amazed at what you can create!
      </p>
      <p>
        Connect with Like-Minded Learners: <br>
        Join a vibrant community of learners from around the globe who share your thirst for knowledge. Share ideas,
        collaborate on projects, and make lifelong friends along the way.
      </p>
      <p>
        Learn Anytime, Anywhere:
        With BrainOn, the classroom is wherever you are! Access our platform from your computer, tablet, or smartphone
        and learn at your own pace, whenever and wherever inspiration strikes.
      </p>
      <p>
        Ignite Your Passion for Learning:
        Whether you're a budding scientist, a future artist, or a tech wizard in the making, BrainOn has everything you
        need to fuel your passion for learning and unleash your full potential.
      </p>
    </div>

    <div class="col-sm-6">
      <br><br>
      <img src="{% static 'images/home2.png' %}" class="rounded about-img" alt="BrainOn brand picture"/>
    </div>   
    
    <div class="col-sm-6">
      <br><br>
      <img src="{% static 'images/home1.png' %}" class="rounded about-img" alt="BrainOn brand picture"/>
    </div>
    <div class="col-sm-6">
      <br><br><br>
      <h3>Get Ready!</h3>
      <p>
        Are you ready to embark on an epic adventure into the world of online learning?
        Get ready to ignite your curiosity and unleash your potential like never before!
      </p>
      <p>
        Picture this: a magical realm where learning comes alive right on your screens.
        Say goodbye to boring textbooks and hello to interactive courses bursting with
        excitement. From mastering Minecraft coding to discovering the secrets of space
        exploration, the possibilities are endless!
      </p>
      <p>
        But wait, there's more! Dive into a world of creativity with arts and crafts
        workshops, unleash your inner chef with fun cooking classes, or become a digital
        superhero with coding games. With online learning, the sky's the limit!
      </p>
      <p>
        What's even cooler? You get to learn at your own pace, anytime, anywhere.
        No more rushing to catch the school bus or cramming for exams. Whether you're
        a night owl or an early bird, the adventure awaits whenever you're ready.
      </p>
      <p>
        Plus, you'll join a community of fellow explorers just like you! Share ideas,
        collaborate on projects, and make new friends from around the globe. Who knows,
        you might even discover a passion you never knew you had!
      </p>
      <p>
        So, what are you waiting for? Grab your laptop, tablet, or smartphone and
        get ready to embark on the ultimate quest for knowledge. The world of online
        learning is calling - are you ready to answer?
      </p>
    </div>
  </div>
</div>
{% if user.is_authenticated %}
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Watch our online lessons!</h5>
    <a href="{% url 'courses' %}" class="btn btn-primary signin-btn">Online Courses</a>
  </div>
  <div class="card-footer">
  </div>
</div>
{% else %}
<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Sign in | Sign up - to watch our online lessons!</h5>
      <a href="{% url 'account_signup' %}" class="btn btn-primary signin-btn">Sign Up</a>
      <a href="{% url 'account_login' %}" class="btn btn-primary signin-btn">Log In</a>
    </div>
    <div class="card-footer">
    </div>
  </div>
{% endif %}
{% endblock %}