{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
{% for lesson in lessons %}
  <h2>{{ lesson.title }}</h2>
  <p>{{ lesson.course.course_subject }}</p>
  <img src="{{ lesson.video_lesson.url }}" alt="{{ lesson.title }}" class="post-images">
  <p>Teacher: {{ lesson.course.teacher }}</p>
{% endfor %}
{% else %}
<div class="card text-center">
    <div class="card-header">
        Wlcome to BrainON, want to have fun while learning?
    </div>
    <div class="card-body">
      <h5 class="card-title">Sign in | Sign up - to watch our online lessons!</h5>
      <p class="card-text">
        Welcome to our online learning platform! 
        Signing up is your gateway to a world of knowledge and opportunity. <br>
        By creating an account, you'll gain access to a vast array of courses, 
        taught by experts in their fields, covering subjects from arts and sciences to technology and business.
    </p>
      <a href="{% url 'account_signup' %}" class="btn btn-primary signin-btn">Sign Up</a>
      <a href="{% url 'account_login' %}" class="btn btn-primary signin-btn">Log In</a>
    </div>
    <div class="card-footer">
    </div>
  </div>
{% endif %}

{% endblock content %}