{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% endblock %}

    <title>BrainON | {% block title %}{% endblock %} </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt="BrainOn logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Navigation items -->
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == about_url %}active{% endif %}" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Online Courses
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Physics</a></li>
                      <li><a class="dropdown-item" href="#">Chemistry</a></li>
                      <li><a class="dropdown-item" href="#">Maths</a></li>
                      <li><a class="dropdown-item" href="#">English</a></li>
                    </ul>
                  </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
	                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" 
                                                                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
	                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
		                                                                          href="{% url 'account_signup' %}">Register</a>
                    </li>
                  <li class="nav-item">
	                  <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                  </li>
                  {% endif %}
                </ul>
                <!-- Search form -->
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-search" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>

    <!-- Main -->
    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    
    <!-- Footer -->
    <footer>
        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Linked - Openes in a new">
            <p class="footer-text hide">BrainOn</p></a>
        <p class="footer-text hide">Copyright 2024 by Asya Haroyan</p>
        <p class="footer-text">Find Us:</p>
        <p class="footer-text hide">Facebook</p>
        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Linked - Openes in a new" class="social-icons">
           <i class="fa-brands fa-square-facebook"></i></a>
        <p class="footer-text hide">Instagram</p>
        <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Linked - Openes in a new" class="social-icons">
             <i class="fa-brands fa-square-instagram"></i></a>
        <p class="footer-text hide">YouTube</p>
         <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Linked - Openes in a new" class="social-icons">
        <i class="fa-brands fa-square-youtube"></i></a>
        <p class="footer-text hide">LinkedIn</p>
         <a href="http://" target="_blank" rel="noopener noreferrer" aria-label="Linked - Openes in a new" class="social-icons">
            <i class="fa-brands fa-linkedin"></i></a>
    </footer>

    {% block onload_js %}
    <script src="https://kit.fontawesome.com/74774a4a16.js" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
</body>
</html>