{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
    <h2 class="text-center">{{ about.title }}</h2>
    <br>
  </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/brainon.png' %}" class="rounded about-img" alt="BrainOn brand picture"/>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-10">
        {{ about.content | safe }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}
        
     
